{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block bodycontent %}
    <div class="m-portlet primery-color-background">
        <div class="m-portlet__body  m-portlet__body--no-padding">
            <div class="row m-row--no-padding m-row--col-separator-xl">
                <div class="col-md-12 col-lg-6 col-xl-3">
                    <!--begin::Total Profit-->
                    <div class="m-widget24">
                        <div class="align-centre m-widget24__item">

                            <h3 class="title-index m-widget27__title m--font-light">
                                <span id="span1" class=" number-index m--font count">
{#                                   {{nbrTenders}}#} 500
                                </span>

                            </h3>
                            <span class="name-composant">
                                Tenders
                            </span>
                        </div>
                    </div>
                    <!--end::Total Profit-->
                </div>
                <div class="col-md-12 col-lg-6 col-xl-3">
                    <!--begin::New Feedbacks-->
                    <div class="m-widget24">
                        <div class="align-centre m-widget24__item">

                            <h3 class="title-index m-widget27__title m--font-light">
                                <span class=" number-index m--font count">
{#                                  {{nbrSuppliers}}#} 500
                                </span>
                            </h3>

                            <span class="name-composant">
                                Suppliers
                            </span>

                        </div>
                    </div>
                    <!--end::New Feedbacks-->
                </div>
                <div class="col-md-12 col-lg-6 col-xl-3">
                    <!--begin::New Orders-->
                    <div class="align-centre m-widget24__item">

                        <h3 class="title-index m-widget27__title m--font-light">
                            <span class=" number-index m--font count">
{#                               {{nbrBuyers}} #} 500
                            </span>
                        </h3>

                        <span class="name-composant">
                            Buyers
                        </span>

                    </div>
                    <!--end::New Orders-->
                </div>
                <div class="col-md-12 col-lg-6 col-xl-3">
                    <!--begin::New Users-->
                    <div class="align-centre m-widget24__item">

                        <h3 class="title-index m-widget27__title m--font-light">
                            <span class=" number-index m--font count">
{#                                {{nbrProducts}}#} 500
                            </span>
                        </h3>

                        <span class="name-composant">
                           Supplier Products
                        </span>

                    </div>
                    <!--end::New Users-->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
